body
{
	background: url("image3.jpg");
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Patrick Hand', cursive;
}

div.container
{
	width: 1140px;
	margin: auto;
	padding: 0 15px;
}

div.main-content
{
	width: 70%;
	float: left;
}

div.sidebar
{
	width: 30%;
	float: left;
}

div.content
{
	overflow: auto;
}

article, aside, footer, header, section
{
	display: block;
}

article, header, footer, aside
{
	background: rgba(255, 255, 255, 0.6);
	padding: 10px;
}

header
{
	margin-bottom: 15px;
}

article
{
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: auto;
	text-align: justify;
}

footer
{
	margin-top: 15px;
}

figure
{
	float: left;
	border-right: 2px dashed;
	border-bottom: 2px dashed;
	padding: 10px;
}

figcaption
{
	text-align: center;
}

footer
{
	text-align: center;
}

#zima h2
{
	color: #e44d26;
}

#lato h2
{
	color: #0070ba;
}

header h1
{
	color: #1cb11d;
}

aside h2
{
	color: #ebeb28;
}